@model SGE.Models.Usuario

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Usuario</h4>



<div>
    <form asp-action="Create" class="d-flex row justify-content-between align-items-end" style="width:100%;">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="col-4 my-1">
            <input asp-for="UsuarioNome" class="headerTabela textoHeaderTabela" placeholder="Nome do Usuário" />
            <span asp-validation-for="UsuarioNome" class="text-danger"></span>
        </div>

        <div class="col-4 my-1">
            <input asp-for="Email" class="headerTabela textoHeaderTabela" placeholder="Email do Usuário" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <div class="col-4 my-1">
            <div class="d-flex flex-row">
                <select asp-for="TipoUsuarioId" class="headerTabela textoHeaderTabela" asp-items="ViewBag.TipoUsuarioId"></select>
                <button style="width:30%;" class=""> Novo Tipo </button>
            </div>
        </div>

        <div class="col-2 my-1">
            <input asp-for="Celular" class="headerTabela textoHeaderTabela" placeholder="Celular do Usuário" />
            <span asp-validation-for="Celular" class="text-danger"></span>
        </div>

        <div class="col-3 my-1">
            <input asp-for="Senha" class="headerTabela textoHeaderTabela" placeholder="Defina uma senha" />
            <span asp-validation-for="Senha" class="text-danger"></span>
        </div>

        <div class="col-3 my-1">
            <input id="ConfirmeSenha" type="password" name="ConfirmeSenha" class="headerTabela textoHeaderTabela" placeholder="Confirme sua senha" />
        </div>

        <div class="col-2 form-check my-1">
            <label class="textoBrancoForm" style="height:100%; width:100%; align-items:center;">
                <input class="form-check-input" asp-for="CadAtivo" value="true" /> @Html.DisplayNameFor(model => model.CadAtivo)
            </label>
        </div>

        <div class="col-2 my-1">
            <input type="submit" value="Cadastrar" class="btn botaoBranco2" style="width:100%;" />
        </div>

        <div class="">
            <input asp-for="DataCadastro" class="form-control" value=@DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss") readonly type="hidden" />
        </div>

        <div class="">
            <input asp-for="CadInativo" class="form-control" type="hidden" />
        </div>

        
    </form>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
