@model IEnumerable<SGE.Models.Usuario>
@{
	ViewData["Title"] = "Login";
}
@if (ViewData["Erro"] != null)
{
	<div class="row d-flex justify-content-center mt-5">
		<div class="col-md-4 text-center">
			<div class="alert alert-danger">
				<strong> @ViewData["Erro"] </strong>

			</div>
		</div>
	</div>
}

<div style="display:flex; align-items:center; justify-content:center;">
<div class="cardLogin">
	<div class="inicioText">
		<h5 style="font-size:22px; color:white; font-weight: 600;">Para continuar, acesse a sua </h5>
		<h5 style="font-size:22px; color:#F6D524; font-weight: 600;">&nbsp; conta educacional.</h5>
	</div>
	<div class="inputs">
		<form asp-action="Login" method="post">
			<div class="inputStyle">
				<label style="font-size:15px; color:white; font-weight:600;" for="inEmail">E-mail</label>
				<input name="inEmail" id="inEmail" type="email" class="input" />
			</div>
			<div class="inputStyle">
				<label style="font-size:15px; color:white; font-weight:600;" for="inSenha">Senha</label>
				<input name="inSenha" id="inSenha" type="password" class="input" />
			</div>
			<div class="btnn">
				<input type="submit" value="Login" class="button" style="margin-top:1.5em; width:200px; height:55px; font-size: 24px; color:#F6D524; background: #FFFF; border-radius:0.2em; border:none;" />
			</div>
		</form>
	</div>
</div>

</div>
